.register-container {
  width: 100vw;
  height: 100vh;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 1000px;
  height: 900px;
  background: #ffffff;
  padding: 80px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  text-align: center;

  display: flex;
  flex-direction: column;
}

.register-card h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.register-card h2 {
  font-size: 34px;
  margin-bottom: 14px;
}

.register-card p {
  font-size: 28px;
  color: #6b7280;
  margin-bottom: 66px;
}

/* FORM */
.register-card input {
  padding: 22px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 22px;
  margin-bottom: 28px;
}

.register-card button {
  margin-top: 48px;
  padding: 18px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
}

.register-card button:hover {
  background-color: #2563eb;
}

.login-link {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

.login-link strong {
  color: #3b82f6;
}
.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.logo-icon {
  width: 76px;
  height: 66px;
  background: #42afe2;
  color: white;
  font-size: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
