.login-container {
  width: 100vw;
  height: 100vh;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 1000px;
  height: 900px;
  background: #fff;
  padding: 80px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.logo-icon {
  width: 76px;
  height: 66px;
  background: #42afe2;
  color: white;
  font-size: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card h1 {
  margin-top: 10px;
}

.description {
  color: #6b7280;
  font-size: 28px;
  margin-bottom: 66px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  font-size: 24px;
  margin-top: 28px;
  margin-bottom: 16px;
}

.form input {
  padding: 22px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 22px;
}

.forgot-password {
  font-size: 22px;
  color: #3b82f6;
  margin-top: 8px;
  text-align: right;
  cursor: pointer;
}

.form button {
  margin-top: 48px;
  padding: 18px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
}

.footer-text {
  margin-top:20px;
  font-size: 20px;
}

.footer-text a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: bold;
}
.login-card h2 {
  font-size: 34px; 
}